# Benzín Brno - Makro - "Natural 95" 
Url: <https://www.makro.cz/prodejny/brno>

In [48]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

# requests - nacte stranku 
url = r'https://www.makro.cz/prodejny/brno'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.102 Safari/537.36'}
r = requests.get(url, headers)
# r.content
# BeautifulSoup - ted nepotrebuji neni JavaScript 
# soup = BeautifulSoup(r.content, 'html.parser')

In [49]:
# pd najde tabulky 
# table_MN = pd.read_html('https://en.wikipedia.org/wiki/Minnesota', match='Election results from statewide races')
table = pd.read_html(r.content, attrs={"class": "table gas-table"})
print(f'Total tables: {len(table)}')

Total tables: 3

In [50]:
# tabulek je 2, zajima me c. 1
# table[0]
df = table[0]
type(df)

pandas.core.frame.DataFrame

In [51]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nafta diesel  1 non-null      object
 1   Natural 95    1 non-null      object
dtypes: object(2)
memory usage: 144.0+ bytes

  Nafta diesel   Natural 95
0  32,50 KÄ/l  34,50 KÄ/l

In [52]:
# How to get a value from a Pandas DataFrame and not the index and object type - https://bit.ly/3BhmuDc
Key = 'Natural 95'
Radek = df[Key].values[0] 
Radek

'34,50 KÄ\x8d/l'

In [53]:
# '34,50 KÄ\x8d/l'  => 34.50
item = Radek
# jen to pred mezerou 
item = item.split(' ')[0]
item = item.replace(",", ".")
item
# item
item = float(item)
print("item:", item, '|| type:', type(item))
# Cena
Cena = '{:.2f}'.format(item)
print("Cena:", Cena, '|| type:', type(Cena))

item: 34.5 || type: <class 'float'>
Cena: 34.50 || type: <class 'str'>

In [54]:
print('Cena paliva -', Key, '- je:', Cena )

Cena paliva - Natural 95 - je: 34.50